{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<style>
</style>

<h1>Menu</h1>
<h2><a href="{{ path('listEvtsTournois') }}">List événements et tournois</a></h2>
<h2><a href="{{ path('saisirTournoi') }}">Saisir tournois</a></h2>
{% endblock %}
